.navigation {
  &__list {
    display: flex;
    align-items: center;
    gap: 32px;

  @include mobile {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    }
  }
  
  // &__item {}

  &__link {
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;

    @include mobile {
      font-size: 12px;
    }
  }
}