.reserve {
  padding: 62px 0 124px;

  @include tablet {
    padding: 40px 0 80px;
  }

  @include mobile {
    padding: 32px 0 64px;
  }

  &__title {
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 24px;

    @include tablet {
      font-size: 32px;
    }

    @include mobile {
      font-size: 20px;
      margin-bottom: 16px;
    }
  }

  &__list {
    padding-left: 24px;
    margin: 0 0 72px;
    line-height: 150%;

    @include tablet {
      margin-bottom: 40px;
    }

    @include mobile {
      margin-bottom: 32px;
      padding-left: 18px;
      line-height: 120%;
      font-size: 12px;
    }
  }

  &__item {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__form {

    &-container {
      margin-bottom: 40px;

      @include tablet {
        margin-bottom: 32px;
      }

      @include mobile {
        margin-bottom: 24px;
      }
    }
  }

  &__fieldset {
    padding: 0;
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 72px;
    gap: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    @include tablet {
      margin-bottom: 40px;
    }

    @include mobile {
      margin-bottom: 32px;
    }
  }

  &__legend {
    flex-basis: 100%;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 24px;

    @include tablet {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }

  &__fieldset_sub {
    flex-basis: 100%;
    margin-bottom: 24px;

    @include tablet {
      margin-bottom: 20px;
    }
  }
}