$mainColor: #241D1C;
$secondColor: #F6F3E3;
$light-gray: #BFBDB2;
$hover-color: #EFE7BE;

$specs : (
    spec1: url('img/spec-1.png'),
    spec2: url('img/spec-2.png'),
    spec3: url('img/spec-3.png'),
    spec4: url('img/spec-4.png'),
    spec5: url('img/spec-5.png'),
);


$laptop: 1024px;
$tablet: 768px;
$mobile: 560px;
$mini: 360px;

@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin mini {
  @media (max-width: #{$mini}) {
    @content;
  }
}